body {
    font-family: Arial, sans-serif;
    max-width: 60rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: rebeccapurple;
    color: white;
}
h1 {
    text-align: center;
    color: yellow;
}
h2 {
    color: yellow;
}
hr {
    border-color: yellow;
}
.password {
    -webkit-text-security: disc !important;
    text-security: disc !important;
}
#fail {
    background-color: yellow;
    color: red;
    font-size: 1.2rem;
}
iframe {
    max-width: 100%;
    margin: 10px;
    border-color: yellow;
    display: inline-block;
}
figure {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}
.bookmark {
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 3px;
    border-style: outset;
    border-color: lightgreen;
    border-width: 3px;
}
.bookmark:hover {
    cursor: grab;
}
.bookmark:active {
    cursor: grabbing;
}
a {
    color: orange;
}

/* LISTS */
/* ➔❖➢ */
ul {
    padding-left: 3ch;
}
/* Level 1 */
ul li::marker {
  content: "❖ ";
  color: red;
}

/* Level 2 */
ul ul li::marker {
  content: "➢ ";
  color: blue;
}

/* Level 3 */
ul ul ul li::marker {
  content: "➔ ";
  color: black;
}